{% load static %}

<!DOCTYPE HTML>
<html>
<head>

<link rel="stylesheet" href="http://localhost:8000/static/assets/css/widget.css" media="screen" />
</head>

<body>
<h1>Widget with custom tag and widget.js script tag</h1>


<div id="widget-container" data-id=48 data-width=800 data-height=40 data-partner="cheetah"></div>
<script type="text/javascript" src="{% static 'js/widget.js' %}"></script>


{% comment %}Youtube example embed code
<iframe width="420" height="315" src="localhost:8000/embed/?id=100" frameborder="0"></iframe>{% endcomment %}


{% comment %}Twitter example  embed code
<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/hashtag/NiejaRemember?src=hash">#NiejaRemember</a>, heb je meneer de Leeuw uiteindelijk nog te pakken gekregen?</p>&mdash; Aksel (@amethem) <a href="https://twitter.com/amethem/status/474830084088791040">June 6, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>{% endcomment %}

{% comment %}Vimeo embed code

<iframe src="//player.vimeo.com/video/96823376" width="500" height="376" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/96823376">Small Little Things</a> from <a href="http://vimeo.com/jaredhogan">jared hogan</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

{% endcomment %}

{% comment %}
<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/dwightgunning/posts/10152819184284052" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dwightgunning/posts/10152819184284052">Post</a> by <a href="https://www.facebook.com/dwightgunning">Dwight Gunning</a>.</div></div>

{% endcomment %}


</body>
</html>


